.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
web/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/.editorconfig
**/.prettierrc
**/*.map
**/*.ts
images/**
!images/icon.png
!images/explorer.svg
